.payment_method_appmax-billet {padding:0px !important;margin:0px !important;}
.payment_method_appmax-billet .payment_box  {display:none !important;}
.payment_method_appmax-pix {padding:0px !important;margin:0px !important;}
.payment_method_appmax-pix .payment_box  {display:none !important;}
.payment_method_appmax-credit-card fieldset {border:0px !important;margin-top:5px; }

